---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Sticker from "../components/sticker.astro";
import stickers from "../data/stickers.json";
import AstroHeart from "../components/AstroHeart.astro";
//import purpleCube from "../assets/purpleCube.gif";
---
<style>
	@font-face {
		font-family: Dancing Script;
		src: url("fonts/DancingScript-vf.ttf") format("truetype");
	}

	.stickers-collections{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	h1{
		font-family: Dancing Script;
	}
</style>

<script>
	import confetti from 'canvas-confetti';
	const button = document.querySelector("[data-celebrate-button]");
	button?.addEventListener('click', () =>confetti());
</script>

<BaseLayout title="Página Principal" description="Pagina de Incio">
	<h1>Astro</h1>
	<button data-celebrate-button>Celebrate!</button>
	<div class="stickers-collections">
		{stickers.map(sticker => <Sticker data = {sticker}></Sticker>)}
	</div>
	<img src="src/assets/purpleCube.gif" alt="purple cube" style="width: 80px; heigth: 80px;">
	<AstroHeart heart="💞"></AstroHeart>
	<NavBar></NavBar>
</BaseLayout>

