---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
---
<BaseLayout title="Página Principal" description="Pagina de Incio">
	<h1>Astro</h1>
	<NavBar></NavBar>
</BaseLayout>

