---
---
<style>
    .her-nav{
        color: cyan;
        padding: 20px;
    }

    .her-nav a{
        display: inline-block;
        color: cyan;
        margin-right: 5px;
    }
</style>

<nav class="her-nav">
    <a href="/productos/">Products</a>
    <a href="/faq/">Faq</a>
    <a href="/sobre/">About</a>
</nav>