---
const {title, description} = Astro.props;
//console.log("Mensaje se ejecuta en el servidor")
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
		<link rel="stylesheet" href="/styles/index.css">
		<title>{title}</title>
	</head>
	<script>
		console.log("Mensaje se ejecuta en el cliente");
	</script>
<!--<style is:global>
		body{
			background-color: black;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}

        h1{
            color: white;
        }

	    a{
			color: aquamarine;
            font-size: 1.3 rem;
		}
	</style>--> 
	<!-- Se importa el estilo css
	 	import "../styles/index.css" 						dentro de la ruta src (relativa/actual)
		<link rel="stylesheet" href="/styles/nombre.css">	dentro de la ruta (public)/styles-->
	<body>
        <slot>Sin contenido 
			<img src="https://manz.dev/assets/stickers/manztrix.gif" 
				alt="ManzTrix"
				style="image-rendering: pixelated; width: 180px;">
		</slot>	<!--    ""<|---Para el BaseLayout correspondiente"      -->
	</body>
</html>